{%extends "base.html"%}
{%block main%}
<h1>PROPERTIES</h1>

<div class="img-con">
{%for image in info %}

    <div class="card">
        <section class="top">
            <img src="{{url_for('getimage',filename=image.photo)}}" alt="images">
        </section>
        <section class="data">
            <div id="info"><h5>{{image.title}} </h2> </div>
            <div id="info"><p><img src="/static/location.png" class="icon"> {{image.location}} </p> </div>
            <div id="pric"> <p>  ${{image.price}}  </p> </div>
                    
        </section>
        <a href="{{url_for('prop1',id=image.id)}}">View Property</a>
     </div>
{%endfor%}

</div>

{%endblock%}